.btnDefault {
    background-color: #ff2828;
    border-radius: 10px;
    color: white;
    border: 0px;
    padding: 0.5rem;
  }

  /* CANCELLED BADGE */
.badge-cancelled {
  background-color: red; 
  color: white;
  padding: 0.3rem;
  border-radius: 5px;
}